In [1]:
import pandas as pd
import numpy as np

In [2]:
section = pd.read_csv('lines_to_detectors.csv')
flow = pd.read_csv('Flow_processed_city.csv')
section_no_na = section.dropna()
section.tail()

,OBJECTID,Shape_Length,Name,Direction,2013,2017,2019
51,71,0.014035,Washington Mission PPP WB,WB,41 - 42 - 58,117,175
52,72,0.011693,Pine Mission PPP WB,WB,NaN,NaN,148
53,73,0.011648,Pine Mission PPP EB,EB,NaN,NaN,147
54,74,0.022306,Pine PPP I680 WB,WB,NaN,106 - 107,150
55,75,0.022289,Pine PPP I680 EB,EB,NaN,105 - 108,149

In [11]:
import numpy as np

In [4]:
w = open('flow_processed_section.csv', 'w')

secnp = section_no_na.to_numpy()

legend_tmp = section_no_na.columns.to_numpy()
# print(legend_tmp)
legend = legend_tmp[0] + "," + legend_tmp[2] + "," + legend_tmp[3] + ",day 1 2013,day 1 2017,day 1 2019" 

for y in range(4):
    if y == 0:
        year = "2013"
    if y == 1:
        year ='2015'
    if y == 2:
        year ='2017'
    if y == 3:
        year ='2019'
    for k in range(3):
        for i in range(24):
            for j in range(4):
                legend = legend + ",Day " + str(k+1) + " - " + year + " - "+ str(i) + ":" + str(15*j)
# print(legend)
w.write(legend)

23480

In [5]:
flow['Id']

0        1
1        2
2        3
3        4
4        5
      ...
194    242
195    243
196    244
197    245
198    246
Name: Id, Length: 199, dtype: int64

In [6]:
for l in secnp:
    det2013 = 0
    det2015 = 0
    det2017 = 0
    det2019 = 0
    print(l)
    if "-" not in l[4]:
        det2013 = (int) (l[4])
        data2013 = flow[flow['Id'] == det2013].to_numpy()[0][4:]
    if "-" not in l[5]:
        det2015 = (int) (l[5])
        data2015 = flow[flow['Id'] == det2015].to_numpy()[0][4:]
    if "-" not in l[6]:
        det2017 = (int) (l[6])
        data2017 = flow[flow['Id'] == det2017].to_numpy()[0][4:]
    if "-" not in l[7]:
        det2019 = (int) (l[7])
        data2019 = flow[flow['Id'] == det2019].to_numpy()[0][4:]
    if det2013 * det2017 * det2015 * det2019!=0:
        print((det2013, det2015, det2017, det2019))
        if (data2013.shape[0] != 289) or (data2015.shape[0] != 289) or (data2017.shape[0] != 289) or (data2019.shape[0] != 289):
            print("**** Did not process the line because not three days where recorded")
        else:
            w.write("\n")
            day2013 = data2013[0]
            day2015 = data2015[0]
            day2017 = data2017[0]
            day2019 = data2019[0]
            strflow = ""
            for f in data2013[1:]:
                strflow += str(f) + ","
            for f in data2015[1:]:
                strflow += str(f) + ","
            for f in data2017[1:]:
                strflow += str(f) + ","
            for f in data2019[1:]:
                strflow += str(f) + ","
            strflow = strflow[:-1]
            strflow = day2013 + "," + day2015 + "," + day2017 + "," + day2019 + "," + strflow
            strflow = str(l[0]) + "," + l[2] + "," + l[3] + "," + strflow
            w.write(strflow)
    else:
        print('Did not process the line because of several detectors')
w.close()

[4 0.014691227 'Mission blvd WmSpr PPP SB' 'SB' '18' '84' '138']

IndexError: index 7 is out of bounds for axis 0 with size 7

In [5]:
flow.head()

,Year,Name,Id,Direction,Day 1,Day 1 - 0:0,Day 1 - 0:15,Day 1 - 0:30,Day 1 - 0:45,Day 1 - 1:0,...,Day 3 - 21:30,Day 3 - 21:45,Day 3 - 22:0,Day 3 - 22:15,Day 3 - 22:30,Day 3 - 22:45,Day 3 - 23:0,Day 3 - 23:15,Day 3 - 23:30,Day 3 - 23:45
0,2013,Auto Mall Pkwy betw. Fremont & I680.xlsx,1,EB,2013-02-12,20,27,13,20,16,...,115.0,98.0,86.0,80.0,49.0,69.0,60.0,56.0,46.0,38.0
1,2013,Auto Mall Pkwy betw. Fremont & I680.xlsx,2,WB,2013-02-12,36,25,18,20,18,...,136.0,111.0,115.0,88.0,64.0,70.0,57.0,52.0,50.0,38.0
2,2013,Driscoll Rd betw. Mission & PPP.xlsx,3,NB,2013-01-15,8,10,6,7,7,...,45.0,33.0,39.0,29.0,35.0,35.0,24.0,22.0,12.0,17.0
3,2013,Driscoll Rd betw. Mission & PPP.xlsx,4,SB,2013-01-15,4,2,3,1,4,...,13.0,21.0,16.0,6.0,19.0,9.0,11.0,7.0,7.0,6.0
4,2013,Driscoll Rd betw. PPP & Washington.xlsx,5,NB,2013-02-12,5,9,2,4,4,...,32.0,36.0,27.0,20.0,9.0,2.0,9.0,14.0,0.0,7.0